        <nav class="navbar navbar-light bg-primary" id="navigator">
            <a href="/" class="navbar-brand">
                <img src="/img/guia.png" alt="logo">
            </a>
            <div class="navbar">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item">
                    <a class="btn btn-danger" href="/ask" id="question">Pergunte</a>
                  </li>
                </ul>
            </div>
        </nav>
   
